@model NEO_natal.Models.CommunityHealthWorker

@{
    ViewBag.Title = "Details";
}
<div style="height: 100px;"></div> <!-- this so the banner doesn't cover the page content -->

<h2>Details</h2>

<div>
    <h1>Community Health Worker</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organization)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.communityHealthWorkerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
