@model NEO_natal.Models.Survey

@{
    ViewBag.Title = "Create";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<div style="height: 100px;"></div> <!-- this so the banner doesn't cover the page content -->

<form action="Create" method="post">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="preliminaries">
            <div class="form-group">
                @Html.LabelFor(model => model.mothersId, " ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <h4>Enter the mother's ID:</h4>
                    @Html.DropDownList("mothersId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.mothersId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.communityHealthWorkerID, " ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <h4>Please select the ID of the person who is filling out this form:</h4>
                    @Html.DropDownList("communityHealthWorkerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.communityHealthWorkerID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.address, " ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.zip, " ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <h4>Select the ward number of the mother's primary address:</h4>
                    @Html.RadioButtonFor(m => m.zip, "1") Ward 1<br>
                    @Html.RadioButtonFor(m => m.zip, "2") Ward 2<br>
                    @Html.RadioButtonFor(m => m.zip, "3") Ward 3<br>
                    @Html.RadioButtonFor(m => m.zip, "4") Ward 4<br>
                    @Html.RadioButtonFor(m => m.zip, "5") Ward 5<br>
                    @Html.RadioButtonFor(m => m.zip, "6") Ward 6<br>
                    @Html.RadioButtonFor(m => m.zip, "7") Ward 7<br>
                    @Html.RadioButtonFor(m => m.zip, "8") Ward 8<br>
                    @Html.RadioButtonFor(m => m.zip, "9") Ward 9<br>
                    @Html.RadioButtonFor(m => m.zip, "10") Ward 10<br>
                    @Html.RadioButtonFor(m => m.zip, "11") Ward 11<br>
                    @Html.RadioButtonFor(m => m.zip, "12") Ward 12<br>
                    @Html.RadioButtonFor(m => m.zip, "13") Ward 13<br>
                    @Html.RadioButtonFor(m => m.zip, "14") Ward 14<br>
                    @Html.RadioButtonFor(m => m.zip, "15") Ward 15<br>
                    @Html.RadioButtonFor(m => m.zip, "16") Ward 16<br>
                    @Html.RadioButtonFor(m => m.zip, "17") Ward 17<br>

                    <!--@Html.EditorFor(model => model.zip, new { htmlAttributes = new { @class = "form-control" } })-->
                    @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.race, " ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <h4>Select the mother's race:</h4>
                    @Html.RadioButtonFor(m => m.race, "1") Non-Hispanic African American<br>
                    @Html.RadioButtonFor(m => m.race, "2") Non-Hispanic White<br>
                    @Html.RadioButtonFor(m => m.race, "3") Non-Hispanic Asian<br>
                    @Html.RadioButtonFor(m => m.race, "4") Hispanic/Latino<br>
                    @Html.RadioButtonFor(m => m.race, "5") Non-Hispanic Other<br>

                    <!-- @Html.EditorFor(model => model.race, new { htmlAttributes = new { @class = "form-control" } }) -->
                    @Html.ValidationMessageFor(model => model.race, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.firstChild, " ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h4>"Is this your first child?"</h4>
                @Html.RadioButtonFor(m => m.firstChild, "1") yes<br> <!--find scores to add for these... -->
                @Html.RadioButtonFor(m => m.firstChild, "2") no<br>
                @Html.ValidationMessageFor(model => model.firstChild, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.prematureBirth, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4> "Have you ever given birth prematurely?"</h4>
            @Html.RadioButtonFor(m => m.prematureBirth, "1") yes<br> <!-- +5 for this -->
            @Html.RadioButtonFor(m => m.prematureBirth, "2") no<br>  <!-- +0 for this -->
            <!-- @Html.EditorFor(model => model.prematureBirth, new { htmlAttributes = new { @class = "form-control" } }) -->
            @Html.ValidationMessageFor(model => model.prematureBirth, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.visitObgyn, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Have you visited an OBGYN?"</h4>
            @Html.RadioButtonFor(m => m.visitObgyn, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.visitObgyn, "2") no<br>

            <!-- @Html.EditorFor(model => model.visitObgyn, new { htmlAttributes = new { @class = "form-control" } }) -->
            @Html.ValidationMessageFor(model => model.visitObgyn, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.age, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"What is your age?"</h4>
            @Html.RadioButtonFor(m => m.age, "1") 14-19 yrs<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.age, "2") 20-24 yrs<br>
            @Html.RadioButtonFor(m => m.age, "3") 25-39 yrs<br>
            @Html.RadioButtonFor(m => m.age, "4") 40-55 yrs<br>

            <!--@Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })-->
            @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.stress, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"On a daily basis, would you say your stress level is high, medium or low? "</h4>
            @Html.RadioButtonFor(m => m.stress, "1") high<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.stress, "2") medium<br>
            @Html.RadioButtonFor(m => m.stress, "3") low<br> <!--find scores to add for these... -->

            @Html.ValidationMessageFor(model => model.stress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.smoke, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you smoke?"</h4>
            @Html.RadioButtonFor(m => m.smoke, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.smoke, "2") no<br>
            @Html.ValidationMessageFor(model => model.smoke, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.familySmoke, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Does anyone in your household smoke?"</h4>
            @Html.RadioButtonFor(m => m.familySmoke, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.familySmoke, "2") no<br>
            @Html.ValidationMessageFor(model => model.familySmoke, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.alcohol, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you drink alcohol?"</h4>
            @Html.RadioButtonFor(m => m.alcohol, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.alcohol, "2") no<br>
            @Html.ValidationMessageFor(model => model.alcohol, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.familyAlcohol, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Does anyone in your household drink alcohol?"</h4>
            @Html.RadioButtonFor(m => m.familyAlcohol, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.familyAlcohol, "2") no<br>
            @Html.ValidationMessageFor(model => model.familyAlcohol, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.drugs, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you do drugs?"</h4>
            @Html.RadioButtonFor(m => m.drugs, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.drugs, "2") no<br>

            @Html.ValidationMessageFor(model => model.drugs, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.familyDrugs, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Does anyone in your household do drugs?"</h4>
            @Html.RadioButtonFor(m => m.familyDrugs, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.familyDrugs, "2") no<br>
            @Html.ValidationMessageFor(model => model.familyDrugs, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.safeOwnHome, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you feel safe in your own home?"</h4>
            @Html.RadioButtonFor(m => m.safeOwnHome, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.safeOwnHome, "2") no<br>
            @Html.ValidationMessageFor(model => model.safeOwnHome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.safeNeighborhood, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you feel safe in your neighborhood?"</h4>
            @Html.RadioButtonFor(m => m.safeNeighborhood, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.safeNeighborhood, "2") no<br>

            @Html.ValidationMessageFor(model => model.safeNeighborhood, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.chronicIllness, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you currently have a chronic illness?"</h4>
            @Html.RadioButtonFor(m => m.chronicIllness, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.chronicIllness, "2") no<br>
            @Html.ValidationMessageFor(model => model.chronicIllness, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.transportation, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you have reliable transportation?"</h4>
            @Html.RadioButtonFor(m => m.transportation, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.transportation, "2") no<br>
            @Html.ValidationMessageFor(model => model.transportation, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.homeInternet, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you have reliable internet access in your home?"</h4>
            @Html.RadioButtonFor(m => m.homeInternet, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.homeInternet, "2") no<br>
            @Html.ValidationMessageFor(model => model.homeInternet, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.mobileInternet, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>Do you have mobile internet access?"</h4>
            @Html.RadioButtonFor(m => m.mobileInternet, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.mobileInternet, "2") no<br>
            @Html.ValidationMessageFor(model => model.mobileInternet, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.diet, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"How is your diet?"</h4>
            @Html.RadioButtonFor(m => m.diet, "1") Good <br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.diet, "2") Okay <br>
            @Html.RadioButtonFor(m => m.diet, "3") Bad<br> <!--find scores to add for these... -->

            @Html.ValidationMessageFor(model => model.diet, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.govAssistance, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Do you receive government assistance?"</h4>
            @Html.RadioButtonFor(m => m.govAssistance, "1") yes<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.govAssistance, "2") no<br>
            @Html.ValidationMessageFor(model => model.govAssistance, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.income, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"Which of the following ranges does your income fall within?"</h4>
            @Html.RadioButtonFor(m => m.income, "1") $0 - $9,999 <br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.income, "2") $10,000 - $19,999 <br>
            @Html.RadioButtonFor(m => m.income, "3") $20,000 - $29,999<br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.income, "4") $30,000 - $39,999<br>
            @Html.RadioButtonFor(m => m.income, "5") $40,000 - $49,999<br>
            @Html.RadioButtonFor(m => m.income, "6") Above $50,000<br>



            @Html.ValidationMessageFor(model => model.income, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.education, " ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <h4>"What is your education level?"</h4>
            @Html.RadioButtonFor(m => m.education, "1") Some High School <br> <!--find scores to add for these... -->
            @Html.RadioButtonFor(m => m.education, "2") High School Diploma or GED <br>
            @Html.RadioButtonFor(m => m.education, "3") Some college, Military, or higher<br> <!--find scores to add for these... -->
            @Html.ValidationMessageFor(model => model.education, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>


    <div>
        @Html.ActionLink("Back to List", "Index", "SurveyResults")
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</form>